# Config.cfg
#
# COPYRIGHT (c) 2007 The SML of NJ Fellowship
#
# ML-Doc configuration file for SML/NJ Library documentation.
#


Catalog		"CATALOG"
# MasterInfoFile	"Info/Master.info"

SML-Basis-Doc	{
#	InfoFile	"/home/sml/Doc/Basis/Info/Master.info"
	InfoFile	"BasisInfo/HTML.info"
	BaseURL		"standardml.org/Basis/"
	RootURL		"standardml.org/Basis/index.html"
}

HTML		{
	BaseURL		""
	RelativeLinks	TRUE
	PreWid		70
}
HTML-Gen	{
	Template	"page.template"
}
HTML-Index	{
	Template	"index.template"
}
HTML-TOC	{
	Template	"toc.template"
}

Proof-LaTeX	{
	TopLevelSection	"Part"
}

