*.a
*.dylib
*.o
*.x86_64.ll
*.x86_64.opt.ll
*.ppg.sml
*.lex.sml
*.grm.desc
*.grm.sig
*.grm.sml
*~
/Makefile
/config.h
/config.log
/config.mk
/config.status
/minismlsharp
/src/config.mk
/src/config/main/Version.sml
/src/config/main/SQLConfig.sml
/src/config/main/SQLConfig_mini.sml
/src/compiler/compilerIRs/absyn/main/AbsynConstFormatter.sml
/src/compiler/compilerIRs/absyn/main/AbsynFormatter.sml
/src/compiler/compilerIRs/absyn/main/AbsynSQLFormatter.sml
/src/compiler/compilerIRs/absyn/main/AbsynTyFormatter.sml
/src/compiler/minismlsharp
/src/compiler/smlsharp
/src/llvm/main/anonymize
/src/llvm/main/removeweak
/src/ml-lex/smllex
/src/ml-yacc/smlyacc
/src/smlformat/smlformat
/stamp-h
/tests/driver/dotest
